/* font */
body {
    .merriweather-light {
        font-family: "Merriweather", serif;
        font-weight: 300;
        font-style: normal;
    }

    .merriweather-regular {
        font-family: "Merriweather", serif;
        font-weight: 400;
        font-style: normal;
    }

    .merriweather-bold {
        font-family: "Merriweather", serif;
        font-weight: 700;
        font-style: normal;
    }

    .merriweather-black {
        font-family: "Merriweather", serif;
        font-weight: 900;
        font-style: normal;
    }

    .merriweather-light-italic {
        font-family: "Merriweather", serif;
        font-weight: 300;
        font-style: italic;
    }

    .merriweather-regular-italic {
        font-family: "Merriweather", serif;
        font-weight: 400;
        font-style: italic;
    }

    .merriweather-bold-italic {
        font-family: "Merriweather", serif;
        font-weight: 700;
        font-style: italic;
    }

    .merriweather-black-italic {
        font-family: "Merriweather", serif;
        font-weight: 900;
        font-style: italic;
    }

}

header {
    background-image: url("/resources/Banner\ Image.png");
    height: 600px;
    width: 1320px;
    margin-left: 300px;


}

.banner {
    text-align: center;
    border-radius: 16px;


    background: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%);

}

.banner-title {
    color: rgb(255, 255, 255);
    padding: 177px 531px 0px 530px;



    font-size: 32px;

    font-weight: 400;

}

.banner-des {
    color: rgb(255, 255, 255);
    padding: 0px 344px 177px 344px;



    font-size: 72px;

    font-weight: 900;
}

.sale {
    color: rgb(255, 0, 0);



    font-size: 88px;

    font-weight: 700;
    text-align: center;
    padding: 120px 460px 0px 460px;
}

.holiday {
    color: rgb(255, 0, 0);

    font-family: Inter;

    font-size: 24px;

    font-weight: 500;
    text-align: center;
    padding: 50px 202px;
}

.all {
    color: rgb(7, 2, 17);

    text-align: center;



    font-size: 48px;

    font-weight: 700;
}

.happy {
    text-align: center;
    padding: 48px;
}

.mid-ban {
    background-image: url("/resources/Vectorrr.png");

    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin-left: 300px;



}

.wel-title {
    padding: 126px 512px 0px 126px;
    color: rgb(255, 255, 255);



    font-size: 64px;

    font-weight: 900;
}

.dolor {
    color: rgba(255, 255, 255, 0.8);
    padding: 0px 497px 0px 126px;

    font-size: 18px;

    font-weight: 400;
}

.join {
    color: rgb(255, 255, 255);
    background: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%);
    margin-left: 130px;
    margin-top: 5px;
    border: none;

    font-size: 20px;
    font-weight: 700;

}

.welcome {

    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%);
    width: 1320px;
    height: 600px;
}

.red {
    color: red;
}

.time {
    width: 1320px;
    height: 482px;
    border-radius: 16px;
    margin-left: 300px;
    margin-top: 100px;


    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
}

.place-des {
    text-align: center;
    padding: 100px 386px 110px 385px;


    font-size: 32px;

    font-weight: 600;
}

.join-now {
    color: rgb(255, 255, 255);
    margin-left: 600px;



    font-size: 20px;

    font-weight: 700;


    border-radius: 8px;
    padding: 30px 32px;
    background: rgb(255, 0, 0);
}

.new {
    display: flex;

}

.coming {
    width: 393px;
    height: 255px;
    margin-left: 300px;

}

.best {
    color: rgb(255, 0, 0);



    font-size: 24px;

    font-weight: 500;
}

.soon {
    color: rgb(7, 2, 17);

    margin-top: 0px;

    font-size: 48px;

    font-weight: 900;
}

.sit {
    color: rgba(7, 2, 17, 0.6);



    font-size: 20px;

    font-weight: 400;
}

.tarabati {
    box-sizing: border-box;

    border: 15px solid rgb(255, 0, 0);
    margin-left: 100px;



}

.middle {
    background-color: white;
}

.twenty {
    color: rgb(255, 0, 0);

    font-size: 48px;

    font-weight: 700;

}

.amet {
    color: rgba(7, 2, 17, 0.6);




    font-size: 20px;

    font-weight: 400;
}

.twenty-four {
    margin-left: 118px;

}

.day {
    text-align: center;
    margin-top: 100px;

}

.function {
    color: rgb(7, 2, 17);


    font-size: 24px;

    font-weight: 500;
    margin-bottom: 0%;
}

.holl {
    margin-top: 0%;


    font-size: 72px;

    font-weight: 900;
}

.mole {
    color: rgba(7, 2, 17, 0.6);



    font-size: 20px;

    font-weight: 500;
}

.lal {
    position: absolute;
    margin-top: 430px;
    margin-left: 290px;
}

.bedi {
    position: absolute;
    margin-left: 1180px;
}

.discount {
    position: absolute;
    margin-bottom: 200px;
    margin-left: 1000px;
    margin-top: 90px;
}

.hudai {
    position: relative;
}

.box {
    position: relative;
    margin-left: 250px;
}

.gift {
    margin-left: 300px;
}

.the {
    color: rgb(255, 0, 0);

    margin-bottom: 25px;
    font-size: 24px;

    font-weight: 500;
}

.awesome {
    color: rgb(7, 2, 17);
    margin-top: 0px;
    margin-bottom: 40px;


    font-size: 48px;

    font-weight: 900;
}

.ut {
    color: rgba(7, 2, 17, 0.6);

    margin-top: 0px;

    font-size: 20px;

    font-weight: 400;
}

.items {
    display: flex;
    align-items: center;
    width: 1320px;

    height: 1163px;
    margin-left: 300px;
}

.sub {
    text-align: center;
    margin-top: 150px;
    background: rgba(255, 0, 0, 0.05);
    width: 1320px;

    height: 616px;
    margin-left: 300px;
}

.icon {
    margin-top: 100px;
    width: 150px;

    height: 150px;
}

.cribe {
    color: rgb(255, 255, 255);
    padding: 24px 56px;



    border-radius: 0px 50px 50px 0px;


    background: rgb(255, 0, 0);

    font-size: 20px;

    font-weight: 600;
    position: relative;
    margin-left: 500px;



}

.subscribe-btn {
    position: absolute;


    padding: 25px 477px 25px 30px;



    border-radius: 50px;


    background: rgb(255, 255, 255);


}

.scribe {
    color: rgb(7, 2, 17);

    font-family: Merriweather;

    font-size: 48px;

    font-weight: 900;
}

.sub-content {
    color: rgba(7, 2, 17, 0.6);



    font-size: 20px;

    font-weight: 400;
}

footer {
    margin-top: 100px;
    background: rgb(7, 2, 17);
    width: 1600px;

    width: 1320px;

    height: 609px;
    margin-left: 300px;
}

.top {
    color: rgb(255, 255, 255);
    position: absolute;
    width: 375px;

    height: 80px;
   margin-top: 100px;
   margin-left: 50px;



    font-size: 24px;

    font-weight: 500;
}

.bottom {
    color: rgb(255, 255, 255);
    position: absolute;

    margin-top: 500px;
    margin-left: 50px;



    font-size: 24px;

    font-weight: 500;
}

.top-two {
    color: rgb(255, 255, 255);
    position: absolute;
    margin-top: 100px;
    margin-left: 975px;




    font-size: 24px;

    font-weight: 500;
}

.bottom-two {
    color: rgb(255, 255, 255);
    position: absolute;

    margin-top: 350px;
    margin-left: 50px;


    font-size: 24px;

    font-weight: 500;
}

.center {
    margin-top: 200px;
    margin-left: 500px;
    position: absolute;
}